<!DOCTYPE html>
<html>
<head>
	<link rel="Stylesheet" type="text/css" href="../Public/css/style.css" />
</head>
<body>
<div class="container">
	<div class="logo">
		<img src="../Public/img/logo-transparent.png">
	</div>
	<form>
		<div>
			<label for="username">USERNAME</label>
			<input name="username" type="text">
		</div>
		<div>
			<label for="password">PASSWORD</label>
			<input name="password" type="password">
		</div>
		<input type="submit" value="LOG IN">
	</form>
</div>
</body>
</html>

