.boardcontainer {
	display: flex;
	background: linear-gradient(#31062A, #AA3B3B);
	height: inherit;
}

.nav {
	width: 20em;
	height: 100%;
	background: #BC9479;
	mix-blend-mode: multiply;
	opacity: 0.4;
}

.board {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-gap: 1em;
	margin: 5em;
}

.item {
	width: 15em;
	}

.art {
	background: #9B4E50;
	height: 15em;
	width: inherit;
}

.label {
	background: #FFFFFF;
	height: 3em;
	width: inherit
}

