body {
	position: fixed;
	width: 100%;
	height: 100%;
	margin: 0;
}

.container {
	display: flex;
	justify-content: center;
	height: inherit;
	background: linear-gradient(#31062A, #AA3B3B);
	align-items: center;
}

form {
	display: flex;
	flex-direction: column;
	width: 20%;
	margin: 4em;
	align-items: center;
}

.formlinecontainer {
	display: flex;
	margin-bottom: 1em;
}

form > div > label {
	font: Bold 10px/11px Arial;
	color: #FFFFFF;
	background: #361D33;
	padding: 1.5em;
}

form > div > input {
	flex-grow: 1;
	width: 24em;
}

form > input[type=submit] {
	background-color: transparent;
	border-radius: 4px;
	padding: 1em;
	width: 11em;
	font: Bold 10px/12px Arial;
	color: white;
	border: 2px solid;

}

.logo {
	display: flex;
	flex-direction: column;
	align-items: center;
  margin: 4em;
}

.logo > img {
	width: 25em;
}
