body {
	position: fixed;
	width: 100%;
	height: 100%;
	margin: 0;
}

.container {
	display: flex;
	justify-content: center;
	height: inherit;
	background: linear-gradient(#31062A, #AA3B3B);
	align-items: center;
}

form {
	display: flex;
	flex-direction: column;
	width: 30%;
}

.formlinecontainer {
	display: flex;
}

form > div > label {
	font: Bold 10px/11px Arial;
	color: #FFFFFF;
	background: #361D33 0% 0% no-repeat;
	padding: 1em 1em 1em 1em;
}

form > div > input{
	flex-grow: 1;
}

.logo {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 30%;
    margin: 4em 4em 4em 4em;
}

.logo > img {
	width: 25em;
}
